.parallax{
    padding: 90px 0;
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

  

    
    .img{
        background-image: url('/public/img/batman.jpg');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

    }

    .img::after{
        top: 0;
        content: '';
    position: absolute;
    width: 100%;
    height: 450px; 
    background: linear-gradient(180deg,#101010 25%, rgba(255, 255, 255, 0) 50%);
    }

    .img::before{
        bottom: 0;
        content: '';
    position: absolute;
    width: 100%;
    height: 450px; 
    background: linear-gradient(0deg,#101010 25%, rgba(255, 255, 255, 0) 50%);
    }

.text{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

   

   
}

